.search {
    height: 40px;
    width: 150px;
    display: block;
    margin: 20px;
    border-radius: 20px;
    color: #119b9d;
    border: 2px solid #1ca0a1;
    background-color: white;
    font-weight: bold;
    font-size: 110%;
}

.plus {
    height: 40px;
    width: 40px;
    margin: 20px;
    display: block;
    border-radius: 50%;
    color: white;
    background-color: #00d1b2;
    border: 2px solid #00d1b2;
    font-size: 175%;
}

.create {
    height: 40px;
    width: 200px;
    margin: 20px;
    box-shadow: 10px 5px 5px black;
    display: block;
    color: white;
    background-color: #2b78e4
}